/* andreas03 - an open source xhtml/css website layout by Andreas Viklund - http://andreasviklund.com . Free to use for any purpose as long as the proper credits are given to the original author.

$racecar_blue: #000058
$racecar_cyan: #00c0ff

=round_corners_topright($radius)
  border-radius-topright: $radius
  border-top-right-radius: $radius
  -moz-border-radius-topright: $radius
  -webkit-border-top-right-radius: $radius

=round_corners_bottomright($radius)
  border-radius-bottomright: $radius
  border-bottom-right-radius: $radius
  -moz-border-radius-bottomright: $radius
  -webkit-border-bottom-right-radius: $radius

=round_corners_topleft($radius)
  border-radius-topleft: $radius
  -moz-border-radius-topleft: $radius
  border-top-left-radius: $radius
  -webkit-border-top-left-radius: $radius
  
=transitions
  -webkit-transition: all 200ms ease-out
  -moz-transition: all 200ms ease-out
  -o-transition: all 200ms ease-out

body
  margin: 0
  font: 76% tahoma, verdana, sans-serif
  background: $racecar_blue url(../images/bg.jpg) no-repeat bottom right
  color: #222222

#wrap
  background: url(../images/bg_bottom.png) no-repeat bottom right fixed
  overflow: auto
  padding: 30px 0

#thetop
  margin: 0

#container
  width: 820px
  margin: 0 auto
  padding: 0
  color: #222222
  

a
  background-color: inherit
  color: $racecar_blue
  &:hover
    text-decoration: underline
  img
    border: 0

p
  margin: 0 0 15px 0
  line-height: 1.5em

#logo
  +round_corners_topright(20px)
  +round_corners_topleft(20px)
  margin: 0
  text-align: left
  vertical-align: bottom
  color: #555555
  overflow: auto
  background: url(../images/rc-banner-1.jpg) no-repeat center center
  height: 150px
  h1
    margin: 90px 5px 1px 5px
    letter-spacing: -3px
    font-style: italic
    display: none
  a
    background-color: inherit
    color: white
    text-decoration: none
    &:hover
      background-color: inherit
      color: #6699ee
  #tagline
    text-align: center
    font-size: 1.2em
    color: $racecar_cyan
    display: none

#main
  float: left
  width: 560px
  min-height: 48em
  background-color: white
  -moz-border-radius: 20px
  -webkit-border-radius: 20px
  border-radius: 20px
  overflow: auto
  border:
    top: 1px solid #dddddd
    left: 1px solid #dddddd
    right: 4px solid
    bottom: 2px solid
    color: $racecar_cyan
  .news-date
    margin-left: 32px
    font-style: italic
  h2
    display: block
    clear: both
    margin: 30px 24px 20px 24px
    padding: 5px 0 5px 8px
    color: #222222
    +round_corners_topright(20px)
    +round_corners_bottomright(20px)
    border:
      top: 1px solid
      left: 1px solid
      right: 4px solid
      bottom: 2px solid
      color: $racecar_cyan
    text-decoration: none
  h3
    margin: 6px 30px
    clear: both
    padding: 1px 0 1px 5px
    background: #eeeeee
    +round_corners_bottomright(20px)
    +round_corners_topright(20px)
    border:
      right: 3px solid
      bottom: 1px solid
      color: $racecar_blue
  h4
    padding-left: 32px
  p
    padding: 0 32px 0 32px
  img
    padding: 12px
  a
    img
      border: 2px solid #ddd
      padding: 3px
      border-radius: 3px
      -moz-border-radius: 3px
      -webkit-border-radius: 3px
      +transitions
    &:hover
      img
        border-color: $racecar_cyan
      
  table
    margin-left: 30px
  ul
    margin-left: 30px
  ul.linklist
    list-style-image: none
    margin: 0
    /*padding: 0
    text-align: center
    li
      display: inline
      a
        img
          margin: 0
          border: none
  .messy_list
    ul
      list-style: none
      li
        padding: 8px 15px
        margin: 10px 0
        a
          text-decoration: none
          font-weight: bold
        &:nth-child(odd) 
          background: rgba(50,50,50,0.1) 
        &:nth-child(odd):hover 
          background: rgba(50,50,50,0.3)
        &:nth-child(even) 
          background: rgba(50,50,50,0.3)
        &:nth-child(even):hover 
          background: rgba(50,50,50,0.5)
  .styled_list
    ul
      list-style: none
      margin-left: 0px !important
      li
        margin: 12px
        float: left
        border: 2px solid #ddd
        border-radius: 3px
        -moz-border-radius: 3px
        -webkit-border-radius: 3px
        &:hover
          border-color: $racecar_cyan
        &#rc14
          background: url(../cars/images/RC-14/GP4/103_thumbnail.jpg) no-repeat center center
        &#rc13
          background: url(../cars/images/RC-13/77_thumbnail.jpg) no-repeat center center
        &#rc12
          background: url(../cars/images/RC-12/85_thumbnail.jpg) no-repeat center center
        &#rc11
          background: url(../cars/images/RC-11/33_thumbnail.jpg) no-repeat center center
        &#rc10
          background: url(../cars/images/RC-10/72_thumbnail.jpg) no-repeat center center
        &#rc09
          background: url(../cars/images/RC-09/37_thumbnail.jpg) no-repeat center 80%
        &#rc07
          background: url(../cars/images/RC-07/36_thumbnail.jpg) no-repeat center 70%
        &#rc09cy
          background: url(../cars/images/RC-09-CY/grab_214_thumbnail.jpg) no-repeat center 40%
        &#rc10ef
          background: url(../cars/images/RC-10-EF/2_thumbnail.jpg) no-repeat center 40%
        &#rc11ef
          background: url(../cars/images/RC-11-EF/grab_005_thumbnail.jpg) no-repeat center center
        &#rc01gt
          background: url(../cars/images/RC-01-GT/122_thumbnail.jpg) no-repeat center 70%
        &#rc01nc
          background: url(../cars/images/RC-01-NC/132_thumbnail.jpg) no-repeat center center
        &#rcx11
          background: url(../cars/images/RCX-11/69_thumbnail.jpg) no-repeat center center
        &#rcx15
          background: url(../cars/images/RCX-15/147_thumbnail.jpg) no-repeat center center
        &#rcx08
          background: url(../cars/images/RCX-08/63_thumbnail.jpg) no-repeat center center
        &#rcx10
          background: url(../cars/images/RCX-10/65_thumbnail.jpg) no-repeat center center
        a
          width: 200px
          height: 70px
          display: block
          background-color: rgba(255, 255, 255, 0.55)
          border: 3px solid white
          border-radius: 3px
          -moz-border-radius: 3px
          -webkit-border-radius: 3px
          color: $racecar_blue
          font-weight: bold
          font-size: 1.3em
          text-decoration: none
          +transitions
          &:hover
            color: white
            background-color: rgba(255, 255, 255, 0.0)
      
=menu_tabs
  display: block
  width: 210px
  margin: 3px 10px 2px 0
  padding: 5px 0 5px 32px
  font:
    size: 1.1em
    weight: bold
  text-align: left
  background: #eeeeee
  +round_corners_bottomright(20px)
  +round_corners_topright(20px)
  color: $racecar_blue
  text-decoration: none

#sidebar
  width: 215px
  float: left
  +round_corners_bottomright(20px)
  +round_corners_topright(20px)
  margin-top: 40px
  padding:
    top: 10px
    bottom: 40px
  font-size: 1em
  background: white
  line-height: 1.3em
  img
    margin-left: 32px
  p
    padding: 0 0 0 12px
    font-size: 0.9em
  ul.linklist
    font-size: 0.9em
    list-style-type: none
    margin: 0px
    padding: 6px 0px 6px 32px
  h3, h2
    padding-left: 32px
  h2
    display: none
  #menu
    ul
      list-style-type: none
      margin: 0px
      margin-top: 12px
      padding: 0px
      li
        a
          +menu_tabs
          +transitions
          transition: all 200ms ease-out
          &:hover
            background: white url(../images/gradient2.png) repeat-x
            color: $racecar_cyan
            text-decoration: none
        &.webgen-menu-item-selected, &.webgen-menu-submenu-inhierarchy
          span, a
            +menu_tabs
            background: white
            border:
              right: 4px solid
              bottom: 2px solid
              color: $racecar_cyan
  table.standings
    margin-top: 20px  
    margin-left: 25px
    cellpadding: 1px
    cellspacing: 1px
    border: 0px
    color: $racecar_blue
  tr.highlight
    color: $racecar_cyan
   
#footer
  margin: 0 auto 20px auto
  width: 860px
  padding: 0 0 5px 0
  font-size: 0.9em
  color: #888888
  text-align: center

h1,h2,h3,h4
  margin: 0 0 10px 0
  font-weight: normal

h1
  font-size: 2.8em

h2
  margin: 0 0 4px 0
  font-size: 1.8em

h3
  margin: 20px 0 8px 0
  font-size: 1.4em

h4
  margin: 10px 0 5px 0
  font-size: 1.2em

.clear
  clear: both
  margin: 0

.right
  text-align: right

.internallink
  font-size: 0.9em
  text-align: center

.block
  padding: 20px
  background: #eeeeee
  color: #222222
  border: 2px solid #dddddd

.credit
  color: #888888
  background-color: inherit

.hide
  display: none
