/* andreas03 - an open source xhtml/css website layout by Andreas Viklund - http://andreasviklund.com . Free to use for any purpose as long as the proper credits are given to the original author.

!racecar_blue = #000058
!racecar_cyan = #00c0ff

body
  :margin 0
  :padding 30px 0
  :font 76% tahoma,verdana,sans-serif
  :background-color = !racecar_blue
  :color #222

#thetop
  :margin 0

#container
  :width 820px
  :margin 0 auto
  :padding 0
  :color #222

a
  :text-decoration none
  :background-color inherit
  :color = !racecar_blue
  &:hover 
    :text-decoration underline
  img
    :border 0
p
  :margin 0 0 15px 0
  :line-height 1.5em

#logo
  :-moz-border-radius-topleft 20px
  :-webkit-border-radius-top-left 20px
  :-moz-border-radius-topright 20px
  :-webkit-border-radius-top-right 20px
  :margin 0
  :text-align left
  :vertical-align bottom
  :color #555
  :overflow auto
  :background url(images/rc-banner-1.jpg) no-repeat center center
  :height 150px
  h1
    :margin 90px 5px 1px 5px
    :letter-spacing -3px
    :font-style italic
    :display none
  a
    :background-color inherit
    :color white
    :text-decoration none
    &:hover
      :background-color inherit
      :color #69e
  #tagline
    :text-align center
    :font-size 1.2em
    :color = !racecar_cyan
    :display none

#main
  :float left
  :width 560px
  :min-height 48em
  :background-color white
  :-moz-border-radius 20px
  :-webkit-border-radius 20px
  :border-radius 20px
  :overflow auto
  :border
    :top 1px solid #ddd
    :left 1px solid #ddd
    :right 4px solid
    :bottom 2px solid
    :color = !racecar_cyan
  .news-date
    :margin-left 32px
  h2 
    :display block
    :margin 30px 24px 10px 24px
    :padding 5px 0 5px 8px
    :color #222
    :-moz-border-radius-topright 20px
    :-moz-border-radius-bottomright 20px
    :border
      :top 1px solid #ddd
      :left 1px solid #ddd
      :right 4px solid
      :bottom 2px solid
      :color = !racecar_cyan
    :text-decoration none
  h3
    :padding-left 32px
  p
    :padding 0 32px 0 32px
  img
    :padding 12px

=menu_tabs
  :display block
  :width 210px
  :margin 3px 10px 2px 0
  :padding 5px 0 5px 32px
  font:
    :size 1.1em
    :weight bold
  :text-align left
  :background #eee
  :-moz-border-radius-topright 20px
  :-moz-border-radius-bottomright 20px
  :-webkit-border-radius  20px
  :color = !racecar_blue

#sidebar
  :width 215px
  :float left
  :-moz-border-radius-topright  20px
  :-webkit-border-top-right-radius  20px
  :-moz-border-radius-bottomright  20px
  :-webkit-border-bottom-right-radius  20px
  :margin-top 40px
  padding:
    :top 10px
    :bottom 40px
  :background-color  white
  :font-size 1em
  :line-height 1.3em
  img
    :margin-left 32px
  p
    :padding 0 0 0 12px
    :font-size 0.9em
  ul.linklist
    :font-size 0.9em
    :list-style-type  none
    :margin  0px
    :padding  6px 0px 6px 32px
  h3, h2
    :padding-left 32px
  h2
    :display none
    
  #menu
    ul 
      :list-style-type  none
      :margin  0px
      :margin-top 12px
      :padding  0px
      li
        a
          +menu_tabs
          &:hover
            :background #fff url(images/gradient2.png) repeat-x
            :color = !racecar_cyan
            :text-decoration none
        
        &.webgen-menu-item-selected, &.webgen-menu-submenu-inhierarchy
          span, a
            +menu_tabs
            :background white
            /:-moz-box-shadow 10px 10px 5px #888
            :border
              :right 4px solid
              :bottom 2px solid
              :color = !racecar_cyan



#footer
  :margin 0 auto 20px auto
  :width 860px
  :padding 0 0 5px 0
  :font-size 0.9em
  :color #888
  :text-align center

h1,h2,h3,h4
  :margin 0 0 10px 0
  :font-weight normal

h1
  :font-size 2.8em

h2
  :margin 0 0 4px 0
  :font-size 1.8em

h3
  :margin 20px 0 8px 0
  :font-size 1.4em

h4
  :margin 10px 0 5px 0
  :font-size 1.2em

.clear
  :clear both
  :margin 0

.right
  :text-align right

.internallink
  :font-size 0.9em
  :text-align center

.block
  :padding 20px
  :background #eee
  :color #222
  :border 2px solid #ddd

.credit
  :color #888
  :background-color inherit

.hide
  :display none
